body {
  font: 10px sans-serif;
  /*background-color: #0E101B;*/
}

.y.axisRight text {
    fill: black;
}
.y.axisRight .tick {
  fill:white;
}

.y.axisLeft text {
    fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
}


.x.axis path {
  display: none;
}

#active {
  fill: red;
}