body {
  font: 10px sans-serif;
  background-color: #0E101B;
}

div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

label {
	font-size: 2em;
	color:white;
}


#peoplepayback {
	background-color: #E6C136;
	border: none;
	padding: 1em;
}

#payoff {
	background-color: #D4642C;
	border: none;
	padding: 1em;
}

h1 {
	display: flex;
	justify-content: center;
	color:white;
	margin-top: 4em;
}

svg {
	display: block;
	margin: 0 auto;
	margin-top: 5em;
}


.x.axis text {
	fill:white;
}

.y.axisRight text {
    fill: white;
}
.y.axisRight .tick text {
  fill:white;
}

.y.axisLeft .tick text {
    fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
}


.x.axis path {
  display: none;
}

#active {
  fill: red;
}